.btn {
    font-weight: bold;
    padding: 1em 1.5em;
    border-radius: 2em;

    &--orange {
        background-color: $tomato;
        color: $white;
        border: 2px solid $tomato;

        &:hover {
            background-color: $white;
            color: $tomato;
            transition: background-color ease-in-out 200ms;
        }
     
    }

    &--outline-orange {
        background-color: transparent;
        color: $tomato;
        border: 2px solid $tomato;
        font-weight: normal;
        padding: 0.5em 1em;
    }
}