.error {
    width: 60%;
    margin: 0 auto;

    @media screen and (max-width: 992px) {
        width: 90%;
    }

    h1 {
        margin-bottom: 2em;

        @media screen and (max-width: 992px) {
            font-size: 1.5em;
        }
    }

    img {
        width: 100%;
    }
}