{% extends 'pages/page.html.twig' %}

{% block title %}Tarifs{% endblock %}

{% block pageTitle %}Tarifs{% endblock %}

{% block pageContent %}

    <div class="list-prestations">
        <div>
            {% for prestation in prestations %}
            <div class="prestation-line">
                <div class="list-prestations__picture">
                    <img src="{{ asset( photoDir ~ prestation.photoInPromote.path) }}" alt="">
                </div>
                <div class="list-prestations__description">{{ prestation.description|raw }}</div>
                <div class="list-prestations__price"><span class="price">{{ (prestation.price * 0.01)|number_format(2)}}€</span></div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}