@mixin menu-style {
    font-weight: 700;
    color: $menu-text-color;
    font-size: $menu-text-size;
}

@mixin center-box {
    display: flex;
    justify-content: center;
    align-items: center;
}