/*Variables*/

$fontFamily: 'Slabo 27px', serif;
$titleFontFamily: 'Slabo 27px', serif;

$baseFontSize: 16px;
$bodyBGColor: #f7f7fa;
$baseFontColor: #000;

$linkColor: #f2989b;
$linkColorHover: #e88185;

/*Header*/
$headerBGColor: #fbf6f5;
$headerTextColor: #fff;

$maxWidth: 1400px;

$secColor: #fc466b;

/*Principal menu*/
$principalMenuBg: rgba(255,255,255,0.8);
$menu-text-size: 1.2em;
$menu-text-color: #601528;
$menu-text-color-hover: #302e44;

/* Text */
$text-color: #2a2a2a;
$title-color: #601528;
$h1-size: 3em;

/* Color */
$tomato: tomato;
$white: #ffffff;

/* Radius */
$card-radius: 20px;

/* shadow */
$shadow-img: 0px 0px 5px #919296;
