.footer-container {
    background-color: $bg-footer;
}

.footer {

    &__parts {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid $footer-border-color;
        color: $footer-color;
        padding: 2em;

        box-sizing: content-box;

        @media screen and (max-width: 992px) {
            flex-direction: column;

        }

        * {
            list-style: none;
            padding-left: 0;
        }

        & > div {
            box-sizing: content-box;
            width: 25%;
            padding: 0 3%;

            @media screen and (max-width: 992px) {
                width: 80%;
            }
        }

        li {
            display: flex;
            align-items: center;
            padding: 0.5em 0;
            gap: 1em;
        }

        &.footer-down {
            align-items: center;

            * {
                width: auto;
            }

            @media screen and (max-width: 992px) {
                align-items: start; 
                gap: 1em;
            }
        }
    }

    h3 {
        color: $white;
    }
}

.footer-socials {

    a {
        margin-right: 5px;
    }

    .icon:hover {
        color: $white;
        border: 1px solid $white;
    }
}

.admin-links {
    display: flex;
    justify-content: center;
    gap: 2em;
    color: $tomato;
    padding: 1em;

    &:hover {
        text-decoration: underline;
    }
}

