.header-container {
    width: 100vw;
    background-color: $headerBGColor;
    position: relative;
    
    &--home {
        height: 100vh;
    }
}

.header {
    @include center-box;
    flex-direction: column;
    align-items: center;

    &__logo {
        margin: 0 auto;
        padding: 80px 0;
        position: relative;
        z-index: 1000;
        width: 40%;
        @include center-box;
        flex-direction: column;
        align-items: center;
        gap: 20px;

        @media screen and (max-width: 992px) {
            padding-top: 40px;
            padding-bottom: 20px;
            width: 50%;
        }
        @media screen and (max-width: 768px) {
            width: 60%;
        }
        @media screen and (max-width: 768px) {
            width: 70%;
        }
    }
}

.logo {
    font-family: "brushsci";
    font-size: $h1-size*2;
    margin-top: 0;
    margin-bottom: 0;
    color: $title-color;
    text-shadow: 2px 2px 5px $tomato;
}

.nav-container {
    padding: 0.3em;
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 55px;

    @media screen and (min-width: 1200px) {
        height: auto;
    }
    @media screen and (max-width: 992px) {
        @include center-box;
    }

    &.fix-menu {
        position: fixed;
        top: 0;
        background-color: rgba(255, 255, 255, 1);
        box-shadow: 0px 2px 2px #919296;
        width: 100vw;
        z-index: 1000;
    }

    .logo-menu {
        position: fixed;
        left: 30px;
        top: 24px;
        width: 160px;
        display: none;

        img {
            object-fit: cover;
            width: 100%;
        }

        &.show-logo {
            display: block;
        }
    }
}

