.prestation-type-description {
    padding-bottom: 2em;
}

.list-prestations {
    box-sizing: border-box;
    width: 100%;
    margin-top: 2em;
    font-size: 1.3em;

    .prestation-line {
        padding-bottom: 0.8em;
        padding-top: 0.8em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $broken-white;

        @media screen and (max-width: 992px) {
            flex-direction: column;
            gap: 1em;
            padding-bottom: 2em;
        }

        &:first-of-type {
            border-top: 1px solid $broken-white;
        }
    }

    &__picture{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        width: 20%;
        height: 100px;

        @media screen and (max-width: 992px) {
            width: 30%;
            height: auto;
        }
        @media screen and (max-width: 768px) {
            width: 50%;
        }
        @media screen and (max-width: 540px) {
            width: 70%;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            box-shadow: $shadow-img-list;
        }
    }
    &__description {
        width: 80%;
        text-align: center;
    }
    &__price {
        text-align: right;
        color: $white;
        position: relative;
        
        .price {
            background-color: $tomato;
            padding: 1em 3em;
            border-radius: 5px;

            @media screen and (max-width: 992px) {
                padding: 0.5em 1em;
                text-align: center;
            }
        }
    }
}