.presentations-banner {
    display: flex;
    overflow: hidden;

    &__slide {
        @include center-box;
        align-items: flex-start;
        width: 50%;
        flex-wrap: wrap;
        overflow: hidden;
        position: relative;

        @media screen and (max-width: 992px) {
            height: 250px;
            width: 90%;
            margin-top: 0;
        }
        @media screen and (max-width: 350px) {
            width: 95%;
        }
    }

    &__img {
        @include center-box;
        width: 50%;
        position: relative;
        animation: img-presentation 10s linear infinite;

        @media screen and (max-width: 992px) {
            width: 100%;
            padding-bottom: 50px;
         }

        img {
            object-fit: cover;
            width: 80%;
            height: 350px;
            border-bottom-right-radius: $card-radius;
            border-top-left-radius: $card-radius;
            box-shadow: $shadow-img;

        }
    }

    @media screen and (max-width: 992px) {
       flex-direction: column;
       align-items: center;
       margin-top: 0;
    }
}

.slide-presentation {
    position:absolute;
    height: 100%;
    width: 100%;
    text-align: center;

    &__title {
        @include title-style;
    }

    .btn {
        text-align: center;
    }

    &.slide-1 {
        transform: translateX(0);
    }

    &.slide-2 {
        transform: translateX(-100%);
    }

    &.slide-3 {
        transform: translateX(-200%);
    }
}

@keyframes img-presentation {
    0% {
        transform: scale(0.9);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.9);
    }
}

@keyframes slide-presentation {
    0% {
        opacity: 0;
        transform: scale(0.3);
    }
    4% {
        opacity: 1;
        transform: scale(1.1);
    }
    7% {
        transform: scale(0.92);
    }
    10% {
        transform: scale(1.05);
    }
    13% {
        transform: scale(0.97);
    }
    16% {
        transform: scale(1);
    }
    90% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-1000px);
    }
}