.prestation-types {
    @include center-box;
    justify-content: space-around;
    flex-wrap: wrap;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        gap: 70px;
    }

    .card {
        width: 26%;

        @media screen and (max-width: 1200px) {
            width: 40%;
        }
        @media screen and (max-width: 768px) {
            width: 60%;
        }
        @media screen and (max-width: 540px) {
            width: 75%;
        }
    }
}

.card-prestation-type {
    height: 500px;
}