{% extends 'pages/page.html.twig' %}

{% block title %}Photos{% endblock %}

{% block pageTitle %}Photos{% endblock %}

{% block pageContent %}
    <div class="drowpdown-list">Ici Listbox pour le tri ;)</div>
    <div class="photos-content">  
        {% for photo in photos %}
            <div class="photo">
                <h2 class="photo__title">{{ photo.name }}</h2>
                <div class="photo__img">
                    <img src="{{ asset( photoDir ~ photo.path ) }}" alt="{{ photo.name }}" />
                </div>
                <div class="photo__actions">
                    <div class="photo__tags">
                        {% for tag in photo.tags %}
                            <span class="tag">{{ tag }}</span> 
                        {% endfor %}
                    </div>
                    <div class="photo__likes"></div>
                </div>
            </div>
        {% endfor %}
    </div>
    
{% endblock %}