{% extends 'pages/page.html.twig' %}

{% block title %}500 Error{% endblock %}

{% block pageTitle %}Erreur !!{% endblock %}

{% block pageContent %}

<div class="error">
    <h1><span class="orange">Oups !!!    </span>Le serveur a rencontré un problème.</h1>
    <div><img src="{{ asset('./images/logo-new.png') }}" alt="Logo O'Nad&Beauté"></div>
</div>


{% endblock %}