{% extends 'pages/page.html.twig' %}

{% block title %}Error{% endblock %}

{% block pageTitle %}Erreur !!{% endblock %}

{% block pageContent %}
<div class="error">
    <h1><span class="orange">Oups !!!   </span>Un problème est survenu.</h1>
    <div><img src="{{ asset('./images/logo-new.png') }}" alt="Logo O'Nad&Beauté"></div>
</div>
{% endblock %}